# ── Entornos virtuales ────────────────────────────────────────────────────────
.venv/
venv/
env/
ENV/

# ── Pytest ────────────────────────────────────────────────────────────────────
.pytest_cache/
.coverage
htmlcov/

# ── Python cache ──────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo

# ── MacOS ─────────────────────────────────────────────────────────────────────
.DS_Store

# ── IDEs ──────────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.swp
